<h1 class='text-center mt-5 mb-5'>{{welcomeMessage}}</h1>

<section class='container post-delete'>
  <div class='row'>
    <div class='col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-4'>
      <a
        class='btn btn-primary btn-lg w-100 p-3'
        href='/dashboard/newpost'
        target='_self'
      >Create New Post</a>
    </div>
  </div>

  {{#each posts}}
    <div class='card mb-3' style='width: 100%;'>
      <div class='card-body'>
        <div class='card-section-head post-header'>
          <h5 class='card-title'>{{postName}}</h5>
          <h6 class='card-subtitle text-body-secondary'>Posted on
            {{postDate}}</h6>
        </div>
        <p class='card-text'>{{postContent}}</p>

      </div>
      <div class='card-footer'>
        <a
          class='btn btn-primary btn-sm p-1'
          href='/dashboard/{{id}}/edit'
          target='_self'
        >Edit Post</a>
        <a class='btn btn-danger btn-sm p-1' data-id='{{id}}'>Delete Post</a>
      </div>
    </div>

  {{/each}}
</section>
<script src='js/deletePost.js'></script>