<h1 class='text-center mt-5 mb-5'>{{welcomeMessage}}</h1>

<section class='container'>
  {{#each posts}}

    <div class='card mb-3' style='width: 100%;'>
      <div class='card-body'>
        <div class='card-section-head'>
          <h5 class='card-title'>{{postName}}</h5>
          <h6 class='card-subtitle text-body-secondary'>Posted by
            {{firstName}}
            {{lastName}}
            on
            {{postDate}}</h6>
        </div>
        <p class='card-text'>{{postContent}}</p>
      </div>
      <div class='card-footer'>
        <h5>Reviews:</h5>
      </div>
      {{#each reviews}}
        <div class='card-footer'>
          <h6 class='card-subtitle text-body-secondary'>Posted by
            {{reviewFirstName}}
            {{reviewLastName}}
            on
            {{reviewDate}}</h6>
          <p class='card-text'>{{reviewContent}}</p>
          {{!-- {{#if isAuthenticated}} --}}
          {{!-- {{#ifEquals reviewUserId currentUserId}} --}}
          <a
            class='btn btn-danger btn-sm p-1 review-delete'
            data-id='{{reviewId}}'
          >Delete</a>
          {{!-- {{/ifEquals}}
          {{/if}} --}}
        </div>
      {{/each}}
      <div class='card-footer'>
        <a
          class='btn btn-primary btn-sm p-1'
          href='/index/{{postId}}/newreview'
          target='_self'
        >Leave Review</a>
      </div>

    </div>

  {{/each}}
</section>
<script src='js/deleteReview.js'></script>